*{
    padding: 0;
    margin: 0;
}
.nav_menu {
    display: flex;
    height: 2cm;
    font-family: tahoma;
    line-height: 3;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 1cm;
}
.nav_class {
   display: flex;
}
.nav_class img {
    width: 1.5cm;
    height: 1.6cm;
    margin-left: 1cm;
    margin-top: 0.1cm;
}
.nav_class h6 {
    margin-left: 0.6cm;
    font-size: 0.7cm;
}
.sect {
    text-align: center;
    font-family: tahoma;
}
.sect a {
    font-size: 1.5cm;
    margin-bottom: 1cm;
}
.sect p {
    font-size: 0.55cm;
    color: rgb(92, 87, 87);
    margin-top: 0.75cm;
    margin-bottom: 0.75cm;
}
.div_menu {
    display: flex;
    justify-content: space-between;
    margin: 1cm;
    font-family: tahma;
}
.div_menu div {
    width: 50%;
}