*{
    padding: 0;
    margin: 0;
}
.nav_menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0.4cm 0.6cm;
    font-family: tahoma;
}
.nav_menu1 {
  font-style: italic;
}
.nav_menu1 p {
    font-size: 0.6cm;
    font-weight: bold;
}
.nav_menu2 ul {
    display: flex;
    gap: 0.8cm;
    list-style: none;
    margin-right: 1cm;
}
.div_class {
    display: flex;
    justify-content: space-between;
    margin: 0.5cm 1cm;
}
.sect_menu h2 {
    font-family: tahoma;
    margin-left: 0.2cm;
    margin-bottom: 0.5cm;
    font-size: 0.5cm;

}
.emdiv_menu {
    margin: 0.5cm 1cm;
    height: 15cm;
}
.sect_menu1 {
    display: flex;
    justify-content: space-between;
    gap: 0.25cm;
}
.wwww {
    display: flex;
    gap: 0.5cm;
    margin-bottom: 0.4cm;
}
.mmmmm {
    display: flex;
    gap: 0.4cm;
    margin-bottom: 0.4cm;
    margin-left: 0.2cm;
}
